{% from 'avatars.html' import avatar %}

{# Gets object 'activities' and renders it #}
{% for activity in activities %}
    <div class="activity" style="margin-top: 10px; font-size:small; float:left; clear:both">
        {% if activity.type == 'submission' %}
            <div style="float:left; width: 30px">
                {{  avatar(jeeqser_key=activity.done_by, avatar_url=activity.done_by_gravatar) }}
            </div>
            <div style="margin-left: 30px;">
                {% with %}
                    {% set jeeqser_key = activity.done_by %}
                    {% set displayname = activity.done_by_displayname %}
                    {% include "jeeqser_displayname.html"%}
                {% endwith %}
                submitted for challenge <a class="noline" href="/challenge/?ch={{ activity.challenge.urlsafe() }}"><b>{{ activity.challenge_name }}</b></a>
                &nbsp; <span style="color:grey; font-size:smaller;">{{ activity.date|timesince }} </span>
            </div>
        {% endif %}
        {% if activity.type == 'voting' %}
            <div style="width: 30px; float:left">
                <div style="float:left">
                    {{  avatar(jeeqser_key=activity.done_by, avatar_url=activity.done_by_gravatar) }}
                </div>
{#                <div style="float:left; clear:left">#}
{#                    {{  avatar(jeeqser_key=activity.submission_author, avatar_url=activity.submission_author_gravatar) }}#}
{#                </div>#}
            </div>
            <div style="margin-left: 30px;">
                {% with %}
                    {% set jeeqser_key = activity.done_by %}
                    {% set displayname = activity.done_by_displayname %}
                    {% include "jeeqser_displayname.html"%}
                {% endwith %}
                gave feedback for a submission submitted by
                {% with %}
                    {% set jeeqser_key = activity.submission_author %}
                    {% set displayname = activity.submission_author_displayname %}
                    {% include "jeeqser_displayname.html" %}
                {% endwith %}
                to challenge
                <a class="noline" href="/challenge/?ch={{ activity.challenge.urlsafe() }}"><b>{{ activity.challenge_name }}</b></a>
                &nbsp; <span style="color:grey; font-size:smaller;">{{ activity.date|timesince}} </span>
            </div>
        {% endif %}
    </div>
{% endfor %}