{% macro avatar(jeeqser_key, avatar_url, style='margin-right: 5px; float:left;padding-bottom:5px;') -%}
    <div style="{{ style }}">
        <a style="text-decoration: none" href="/user/?jk={{ jeeqser_key.urlsafe() }}">
            <img height="25px" width="25px" style="vertical-align: middle; border-radius: 5px" src="{{  avatar_url }}"/>
        </a>
    </div>
{%- endmacro %}