<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <link href="https://plus.google.com/106977484742528046029" rel="publisher" />
    {% if not local %}
        {% include "analytics.html" %}
    {% endif %}
    {% block load_scripts %}
    {% endblock %}
    <title> {% block title %} Jeeqs {% endblock %} </title>
</head>
{% block script %}
{% endblock script %}
<body style="width: 100%; margin: 0px;">
    {% include "toolbar.html" %}
    <div id="container" class="container-fluid container" style="margin-top: 20px">
        {% block container %}
        {% endblock %}
    </div>
    <div class="clearfix"/>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</body>
</html>
