<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

{# favicon #}
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

{# jquery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>#}

<style>
    body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

{# Guiders #}
<script type="text/javascript" src="/static/guiders/guiders-1.2.3.js"></script>
<link rel="stylesheet" href="/static/guiders/guiders-1.2.3.css" type="text/css" />

{#Ace#}
{# Compressed ace is not working on Safari see https://github.com/ajaxorg/ace/issues/612 #}
<script src="/static/ace/ace-uncompressed.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

{# MathJax #}
{#<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>#}
{# Version 2 is conflicting with pagedown #}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
    });
</script>

<link href="/static/jeeqs.css" type="text/css" rel="stylesheet"/>

{# Pygments #}
<link href="/static/perldoc.css" type="text/css" rel="stylesheet"/>

{# Scribd API #}
<script type="text/javascript" src='http://www.scribd.com/javascripts/scribd_api.js'></script>

{# Jeeqs core #}
<script type="text/javascript" src="/static/jeeqs.js"></script>

{# Facebook #}
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{# Google Web fonts #}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--bootstrap is loaded at the end to keep it on the highest precedence to other style sheets-->
{# bootstrap #}
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

{# font-awesome #}
<link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">
