{% from 'avatars.html' import avatar %}
<script>
    $(document).ready(function() {
        $('.feedback-flag-button').live('click', function(event) {
            event.preventDefault();
            $(this).attr("disabled", "disabled");

            var $feedback_key = $(this).parent().siblings('input[name=feedback-id]').val()
            $initiator = $(this)
            $.ajax({
                url: "/rpc",
                async: true,
                type: "POST",
                data: {'method': 'flag_feedback', 'feedback_key': $feedback_key},
                success: function(response){
                    var parsed = jQuery.parseJSON(response)
                    if (parsed.flags_left_today >= 0) {
                        alert("You have " + parsed.flags_left_today + " flags left");
                        $initiator.parent().fadeTo("slow", 0.25);
                        $initiator.parent().parent().css('background-image', 'url("/static/flagged.png")');
                    }
                    else {
                        alert("Sorry! You don't any more flags left.")
                    }
                }
            })
        })
    });
</script>
{% if feedbacks and feedbacks|length > 0 %}
    {% for feedback in feedbacks %}
        <div class="well well-smalll" style='margin-bottom: 0; float:left; width:95%; {%if jeeqser.key in feedback.flagged_by  %}background-image: url("/static/flagged.png"){% endif %}; border-color:{{ feedback.background }}'>
            <div style='float:left; width: 100%;'>
                <div class="ui-icon {{ feedback.icon }}" style="float:left; clear:both;"></div>
                <div style="float:right; font-size:small;">
                    <div style="float:left; width: 30px">
                        {{  avatar(jeeqser_key=feedback.author, avatar_url=feedback.author.get().profile_url) }}
                    </div>
                    <span>
                        submitted by {{ feedback.author.get().displayname }} @ {{ feedback.date|timesince }}
                    </span>
                    {% if write_challenge_name %}
                        for <a class="noline" href='/challenge/?ch={{ feedback.attempt.get().challenge.urlsafe() }}&att={{ feedback.attempt.urlsafe() }}'>attempt #{{ feedback.attempt.get().index }}</a>  of {{ feedback.attempt.get().challenge.get().name }}
                    {% endif %}
                </div>
            </div>
            <br/>
            <div style="margin-top: 10px; float:left; clear:both">
                {{ feedback.content|safe }}
            </div>
            <input type="hidden" name="feedback-id" value="{{ feedback.key }}"/>
            {%if jeeqser.key not in feedback.flagged_by  %}
                <div style="float:right"><a class="feedback-flag-button" href="#"><span class="icon-flag" style="float:left"></span></a></div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    No Feedbacks available!
{% endif %}
