{# Shows the user's information as well as authentication links #}

<style>
    a.noline { text-decoration: none;}
</style>

<div id="userInfo" class="navbar navbar-fixed-top" style="text-align: right;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Jeeqs<img style="margin-left: 10px" src="/static/favicon.ico"/></a>
            <ul class="nav pull-right">
                {# class="active" will highlight the navigation item! #}
                {% if jeeqser %}
                    <li class="divider-vertical"></li>
                    <li><img width="35px" height="35px" src="{{ jeeqser.profile_url }}" style="vertical-align: middle; border-radius: 5px"/></li>
                    <li style="font-weight: bold">
                        <a href="/user/" >{{ jeeqser.displayname }}
                        {% if jeeqser.suspended_until %}
                            <strong style="color:red" title="Your account is suspended until {{ jeeqser.suspended_until }}">!</strong>
                        {% endif %}
                        </a>
                    </li>
                    <li><a href="{{ logout_url }}"> Log-out <i class="icon-off icon-white"></i></a></li>
                {% else %}
                    <li><a href="{{ login_url }}">Log-in</a></li>
                {% endif %}
                <li class="divider-vertical"></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</div>
